.new-page {
  width: 100%;
  background-image: url('../../asset/images/bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  &-title {
    top: 764px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 38px;
    font-weight: bold;
    position: relative;
  }

  &-content {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 795px;
  }
  .new-coupon {
    display: inline-block;
    margin-right: 24px;
    background-image: url('../../asset/images/coupon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 321px;
    height: 269px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    &-title {
      color: #fe374e;
      font-size: 30px;
      font-weight: normal;
    }
    &-price {
      color: #fe374e;
      font-weight: bold;
      font-size: 90px;
      margin-top: -15px;
      &-before {
        color: #fe374e;
        font-size: 32px;
      }
    }

    &-tip {
      background-color: #fe374e;
      height: 30px;
      border-radius: 15px;
      width: 120px;
      font-size: 20px;
      margin: 0 auto;
      margin-top: -5px;
      color: white;
    }

    &-desc {
      color: #808080;
      font-size: 24px;
      font-weight: normal;
    }
  }
  .new-button {
    position: relative;
    top: 840px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    background: #fe9e10;
    color: white;
    height: 100px;
    line-height: 100px;
    font-size: 36px;
    font-weight: bold;
  }
}
