page {
  background-color: #f7f7f7;
}
.headers-page {
  width: 100%;
  position: relative;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #f7f7f7;
  .address-item {
    background-color: white;
    margin: 24px auto;
    border-radius: 20px;
    padding: 24px;
    width: 702px;
    box-sizing: border-box;
    .address-left {
      width: 540px;
      .address-name {
        color: #333333;
        font-size: 32px;
        height: 34px;
        line-height: 34px;
        margin-top: 22px;
      }
      .address-phone {
        color: #999999;
        font-size: 24px;
        height: 34px;
        line-height: 34px;
        margin-left: 30px;
        margin-top: 22px;
      }
      .address-address {
        color: #333333;
        font-size: 26px;
        line-height: 36px;
        margin-top: 8px;
        margin-bottom: 24px;
      }
    }
    .address-right {
      float: right;
      position: relative;
      top: -80px;
      margin-right: 24px;
      font-size: 24px;
      height: 34px;
      line-height: 34px;
      color: #999999;
    }
  }
  .address-new {
    margin: 26px auto;
    width: 702px;
    height: 100px;
    background: linear-gradient(
      90deg,
      rgba(254, 213, 0, 1) 0%,
      rgba(254, 200, 2, 1) 100%
    );
    border-radius: 8px;
    color: #333333;
    font-size: 32px;
    line-height: 100px;
    text-align: center;
  }
}
