.pkg-page {
  background-color: #f7f7f7;
  position: relative;
  .pkg-header {
    background-color: white;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    position: relative;
    box-sizing: border-box;
    &-split-line {
      position: absolute;
      width: 2px;
      height: 64px;
      top: 50%;
      left: 50%;
      margin-top: -32px;
      background: #dedede;
    }
    &-item {
      width: 320px;
      height: 34px;
      margin: 8px 0;
      font-size: 24px;
      font-weight: bold;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &-label {
        color: #999999;
        margin-right: 8px;
      }
      &-title {
        color: #333333;
      }
    }
  }
  .pkg-tabs {
    width: 100%;
    height: 144px;
    padding: 42px 0;
    background: white;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    &-item {
      width: 240px;
      height: 60px;
      margin-left: 28px;
      background-color: #f7f7f7;
      border-radius: 30px;
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      line-height: 60px;
      border: none;
      &-active {
        background-color: white;
        color: #f6ba31;
        border-color: #f6ba31;
        border: 1px solid #f6ba31;
      }
    }
  }
  .pkg-content {
    background-color: white;
    margin: 24px 28px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 36px 24px;
    position: relative;
    &-title {
      color: #333333;
      font-size: 36px;
      font-weight: bold;
      height: 50px;
      line-height: 50px;
      margin-bottom: 72px;
    }
    &-price {
      position: absolute;
      top: 38px;
      right: 28px;
      text-align: right;
      font-size: 32px;
      font-weight: bold;
      color: #fd7d59;
      &-unit {
        font-size: 22px;
        font-weight: 400;
      }
    }
    &-unit-tip {
      position: absolute;
      top: 84px;
      right: 28px;
      text-align: right;
      color: #bdbdbd;
      font-size: 22px;
      font-weight: bold;
      height: 32px;
      line-height: 32px;
    }
    &-item {
      margin-top: 28px;
      &-title {
        font-size: 26px;
        height: 36px;
        line-height: 36px;
        color: #333333;
        font-weight: bold;
      }
      &-subtitle {
        margin-top: 10px;
        font-size: 24px;
        font-weight: 400;
        color: #bdbdbd;
        line-height: 40px;
      }
    }
  }
  .pkg-footer {
    height: 126px;
    .pkg-ok-btn {
      position: fixed;
      bottom: 10px;
      width: 702px;
      margin: 40px 24px;
      height: 88px;
      line-height: 88px;
      background: linear-gradient(
        90deg,
        rgba(254, 213, 0, 1) 0%,
        rgba(254, 200, 2, 1) 100%
      );
      border-radius: 10px;
      color: #333333;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
    }
  }
}
