.all-coupon-page {
  position: relative;
  background-color: #F7F7F7;
  .coupon-bottom {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size:24px;
    font-weight: 400;
    color: #BDBDBD;
    line-height: 100px;
  }
  .coupon-button {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
    color: white;
    background: #FE9E10;
    font-weight: bold;
  }
}