.all-bill-page {
  width: 100%;
  background-color: #f7f7f7;
  top: 128px;
  position: relative;
  .bill-tip {
    margin-left: 24px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 400;
    color: black;
    .bill-tip-yellow{
      color: #F6BA31;
    }
  }
  .bill-bottom {
    height: 140px;
    background-color: white;
    position: relative;
    bottom: 0;
    border-top: 1px solid #DEDEDE;
    .bill-all-check {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 24px;
      width: 200px;
    }
    .bill-button-next {
      position: absolute;
      display: inline-block;
      right: 24px;
      width: 220px;
      height: 80px;
      top: 50%;
      margin-top: -40px;
      padding: 0 62px;
      background: linear-gradient(
        90deg,
        rgba(255, 132, 14, 1) 0%,
        rgba(254, 66, 53, 1) 100%
      );
      border-radius: 8px;
      font-size: 32px;
      color: white;
      line-height: 80px;
      text-align: center;
    }
  }
}
