.sys-nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 999;
  border-bottom: solid 1px #F3F3F3;
  .back-btn {
    position: absolute;
    bottom: 28px;
    margin-left: 24px;
    width: 18px;
    height: 30px;
    background-image: url('../../asset/images/back.png');
    background-size: 100% 100%;
    z-index: 9999;
  }

  .sys-nav-title {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 18px;
    height: 52px;
    font-weight: bold;
    color: #333333;
    font-size: 37px;
    line-height: 52px;
  }
}
