@import '../../common/index.scss';
.page {
  height: 100%;
  font-family:PingFangSC-Regular,PingFang SC;
}
.page-mine {
  position: relative;
  height: calc(100% - 100px);
  background-color: #F7F7F7;
  .navigation-bar {
    z-index: 999;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #fed500;
    text-align: center;
    color: #333333;
    font-size: 37px;
    line-height: 180px;
    font-weight: bold;
  }
  .mine-bkg {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #fed500;
    width: 100%;
    height: 500px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  .mine-header {
    position: absolute;
    z-index: 999;
    margin: 0 24px;
    height: 128px;
    .mine-avatar {
      width: 128px;
      height: 128px;
      border-radius: 64px;
      position: absolute;
    }
    .mine-info {
      display: inline-block;
      width: 550px;
      margin-left: 148px;
      z-index: 999;
      color: #333333;
      .mine-nickname {
        height: 50px;
        font-size: 36px;
        font-weight: bold;
        line-height: 50px;
        width: 550px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .mine-signature {
        height: 40px;
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
        width: 550px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .mine-order-container {
    z-index: 999;
    margin: 24px;
    border-radius: 20px;
    background-color: white;
    height: 240px;
    width: 702px;
    font-weight: 400;
    position: absolute;
    .mine-order-title {
      width: 200px;
      height: 44px;
      font-size: 32px;
      line-height: 44px;
      color: #333333;
      margin-left: 24px;
      top: 28px;
      position: relative;
    }
    .mine-all-order {
      width: 112px;
      height: 40px;
      font-size: 28px;
      line-height: 40px;
      color: #f6ba31;
      position: absolute;
      right: 22px;
      top: 32px;
    }
    .mine-order-split {
      width: 100%;
      height: 0;
      border-bottom: 1px solid #f0f0f0f0;
      position: absolute;
      top: 100px;
    }
    .mine-order-category {
      display: flex;
      position: absolute;
      top: 100px;
      height: 140px;
      width: 100%;
      justify-content: space-around;
      .mine-order-category-item {
        margin-top: 28px;
        width: 86px;
        height: 90px;
        .mine-order-icon-1 {
          width: 40px;
          height: 40px;
          margin-left: 23px;
          @include image('wait_for_pay');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        .mine-order-icon-2 {
          width: 40px;
          height: 40px;
          margin-left: 23px;
          @include image('wait_for_go');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        .mine-order-icon-3 {
          width: 40px;
          height: 40px;
          margin-left: 23px;
          @include image('finish');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        .mine-order-icon-4 {
          width: 40px;
          height: 40px;
          margin-left: 23px;
          @include image('wait_for_comment');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        .mine-order-category-text {
          margin-top: 10px;
          color: #999999;
          height: 40px;
          font-size: 28px;
          font-weight: 400;
          line-height: 40px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  .mine-container {
    background-color: #f7f7f7;
    

    .mine-list {
      margin: 0 24px 24px 24px;
      background-color: white;
      border-radius: 20px;
      height: 100%;
      overflow: auto;
    }
  }
}
