@import '../../common/index.scss';
page {
  background-color: #f7f7f7;
}
.pay-product {
  position: relative;
  background-color: #f7f7f7;
  color: #333333;
  font-weight: 400;
  .pay-product-tip {
    width: 100%;
    height: 60px;
    background-color: #fdf0d4;
    color: #fd7d59;
    font-size: 24px;
    line-height: 60px;
    box-sizing: border-box;
    padding-left: 60px;
    position: relative;
    &::before {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      top: 18px;
      left: 24px;
      @include image('tip_red');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  .pay-product-header {
    overflow: hidden;
    margin: 24px;
    width: 702px;
    background-color: white;
    font-weight: 400;
    border-radius: 20px;
    .header-image {
      display: inline-block;
      vertical-align: top;
      margin: 24px;
      width: 288px;
      height: 196px;
      border-radius: 8px;
    }
    .header-right {
      display: inline-block;
      vertical-align: top;
      margin-left: 6px;
      margin-top: 48px;
      margin-bottom: 24px;
      margin-right: 24px;
      width: 340px;
      .header-title {
        height: 32px;
        font-size: 32px;
        line-height: 32px;
        font-weight: bold;
        color: #333333;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .header-subtitle {
        margin-top: 8px;
        height: 34px;
        line-height: 34px;
        font-size: 24px;
        color: #bdbdbd;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .header-declare {
        margin-top: 2px;
        height: 34px;
        line-height: 34px;
        color: #f6ba31;
        font-size: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .header-price {
        margin-top: 12px;
        height: 32px;
        line-height: 32px;
        color: #333333;
        font-size: 32px;
      }
    }
  }

  .pay-product-header-ex {
    overflow: hidden;
    margin: 24px;
    width: 702px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    font-weight: bold;
    &-title {
      font-size: 36px;
      line-height: 50px;
      height: 50px;
      margin-top: 32px;
      margin-left: 24px;
    }
    &-subtitle {
      height: 36px;
      line-height: 36px;
      font-size: 26px;
      margin-left: 24px;
    }
    &-place {
      margin-top: 59px;
      position: relative;
      padding-left: 40px;
      box-sizing: border-box;
      font-size: 30px;
      line-height: 42px;
      height: 62px;
      margin-left: 24px;
      border-left: 2px solid #333333;
    }
    &-place-start {
      height: 42px;
      position: relative;
      top: -21px;
      &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        left: -48px;
        top: 50%;
        margin-top: -8px;
        background-color: #333333;
      }
    }
    &-place-target {
      height: 42px;
      margin-top: -1px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        left: -48px;
        top: 50%;
        margin-top: -8px;
        background-color: #333333;
      }
    }
    &-price {
      margin-top: 28px;
      position: absolute;
      right: 48px;
      height: 50px;
      color: #fd7d59;
      font-size: 36px;
      line-height: 36px;
    }
  }
  .pay-product-pay-btn {
    margin: 40px 24px;
    width: 702px;
    height: 100px;
    font-size: 32px;
    line-height: 100px;
    color: white;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(
      90deg,
      rgba(255, 132, 14, 1) 0%,
      rgba(254, 66, 53, 1) 100%
    );
    border-radius: 20px;
  }
  .pay-product-info {
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    background-color: white;
    margin: 24px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    &-label {
      margin: 24px;
      height: 40px;
    }
    &-luggage {
      color: #666666;
      font-size: 24px;
      line-height: 34px;
      height: 34px;
      margin-left: 50px;
    }
  }
  &-passenger {
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
    background-color: white;
    margin: 24px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 24px;
    &-item {
      height: 90px;
      width: 100%;
      position: relative;
      &-label {
        top: 32px;
        color: #999999;
        margin-right: 52px;
        position: relative;
      }
      &-value {
        top: 32px;
        position: relative;
      }
    }
    &-split-line {
      border-top: 1px solid #f3f3f3;
    }
  }

  &-tourist {
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
    background-color: white;
    margin: 24px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 24px;
    &-item {
      width: 100%;
      height: 162px;
      position: relative;
      &-title {
        position: relative;
        top: 44px;
        font-size: 28px;
        height: 40px;
        line-height: 40px;
      }
      &-value {
        top: 58px;
        font-size: 34px;
        height: 48px;
        line-height: 48px;
        position: relative;
      }
    }

    &-item-border {
      border-top: 1px solid #f0f0f0;
    }
  }

  &-coupon {
    font-size: 32px;
    font-weight: 400;
    height: 100px;
    line-height: 100px;
    background-color: white;
    margin: 24px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 24px;
    &-title {
      position: absolute;
      left: 48px;
    }
    &-right {
      position: absolute;
      right: 84px;
      text-align: right;
      color: #fd7d59;
      @include after-more;
    }
  }

  &-bill {
    font-size: 32px;
    font-weight: 400;
    height: 100px;
    line-height: 100px;
    background-color: white;
    margin: 24px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 24px;
    &-title {
      position: absolute;
      left: 48px;
    }
    &-right {
      position: absolute;
      right: 84px;
      text-align: right;
      color: #bdbdbd;
      @include after-more;
    }
  }

  &-cancel-btn {
    @include large-button;
    color: #bdbdbd;
    background-color: white;
  }
}
